.header {
    background-color: var(--black);
    padding-top: 1vh;
    &__flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 11vh;
    }
}