:root {
    /* Colors */
    --white: white;
    --violet: #5F29B7;
    --violet_light: #7641cd;
    //--violet_dark: #6f42b8;
    --black_and_purple: #0E0915;
    --black: #000000;
    --gray: #7B708D;
    --light_grey: #B7B1C4;
    --grey_color_footer: #8F889A;
    --bg_footer: #15141A;
    --gray_lightSuper: #aea1c6;
    --gradient_violet: linear-gradient(130deg,#FFFFFF 30%, #5F29B7 60%);
}